<p>Applications running in Web Workers respond to HTTPL requests from the page:</p>
<form action="httpl://{{domain}}/httpl" method="post" class="form-horizontal">
	<legend>Form <small>targets httpl://{{domain}}</small></legend>
	<div class="control-group">
		<label class="control-label">Text input</label>
		<div class="controls"><input type="text" name="input" class="input-xlarge"></div>
	</div>
	<div class="control-group">
		<label class="control-label">Select</label>
		<div class="controls">
			<select name="select" class="input-xlarge">
				<option value="A">A</option>
				<option value="A">B</option>
			</select>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label">Checkboxes</label>
		<div class="controls">
			<label class="checkbox inline"><input type="checkbox" name="checks" value="1"> 1</label>
			<label class="checkbox inline"><input type="checkbox" name="checks" value="2"> 2</label>
			<label class="checkbox inline"><input type="checkbox" name="checks" value="3"> 3</label>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label">Radios</label>
		<div class="controls">
			<label class="radio inline"><input type="radio" value="1" checked="checked" name="radios"> 1</label>
			<label class="radio inline"><input type="radio" value="2" name="radios"> 2</label>
			<label class="radio inline"><input type="radio" value="3" name="radios"> 3</label>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label">Textarea</label>
		<div class="controls">
			<div class="textarea"><textarea name="textarea"></textarea></div>
		</div>
	</div>
	<input type="submit" class="btn" />
</form>