<p>Applications running in Web Workers respond to HTTPL requests from the page:</p>
<form action="httpl://{{domain}}/httpl" method="post" class="form-horizontal">
	<legend>Response <small>from httpl://{{domain}}</small></legend>
	<div class="control-group">
		<label class="control-label">Text input</label>
		<div class="controls">{{input}}</div>
	</div>
	<div class="control-group">
		<label class="control-label">Select</label>
		<div class="controls">{{select}}</div>
	</div>
	<div class="control-group">
		<label class="control-label">Checkboxes</label>
		<div class="controls">{{checks}}</div>
	</div>
	<div class="control-group">
		<label class="control-label">Radios</label>
		<div class="controls">{{radios}}</div>
	</div>
	<div class="control-group">
		<label class="control-label">Textarea</label>
		<div class="controls">{{textarea}}</div>
	</div>
	<a class="btn" href="httpl://{{domain}}/httpl">Reset</a>
</form>