
body { color: #555; font-family: Arial, sans-serif; }
pre, code { font-family: Consolas, "Courier New", monospace }
a { color: #3184D6; }
p { margin: 13px 0 17px; }
blockquote { border-left: 5px solid #ddd; }
blockquote p { font-size:14px }
h2 { font-size:30px; border-bottom:1px solid gray; font-weight:normal; margin-top:16px }
h3 { font-size:20px }

#header {
    min-width: 720px;
	margin: 5px 10px 20px;
	border-bottom: 1px solid #eee;
	height: 81px;

	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
}
#header img {
	padding-right: 27px;
	vertical-align: top;
}
#header a {
	position: relative;
	top: 27px;
	margin-right: 40px;

	color: gray;
	font-size: 18px;
}
#header a.active {
	color: rgb(125, 146, 115);
	text-decoration: underline;
}