.linkshell { font-size:15px; background:#eee }
.linkshell a { color:#06c; }
.linkshell li, .linkshell p { line-height:21px; }

.linkshell > table { margin:0 auto; }
.linkshell > table tr td { vertical-align:top }
.linkshell > table tr td:empty { min-width:10px; }
.linkshell > table tr td:empty:first-child { width:50px; }
.linkshell > table tr td:empty:last-child { width:50px; }
.linkshell > table tr td.drophover { min-width:100px; background:rgba(255,255,255,0.4) }

.linkshell .agent {
    padding:8px 13px;
    background:#fff;
    box-shadow:0 0 6px rgba(0,0,0, 0.5);
    border:1px solid #fff;
    min-width:400px;
}
.linkshell .agent.drophover {
    border:1px solid #06c;
    box-shadow:0 0 10px rgba(0,128,255, 0.75);
}
.linkshell .agent-titlebar {
    font-size:14px;
    margin-bottom:2px;
    height:22px;
    color:#bbb;
}
.linkshell .agent-titlebar-ctrls { float:right }
.linkshell .agent-titlebar form { margin:0 }
.linkshell .agent.collapsed { opacity:0.5; min-width:250px }
.linkshell .agent.collapsed .agent-body { display:none }

.linkshell .dropzone { height:10px; }
.linkshell .dropzone.drophover { height:100px; background:rgba(255,255,255,0.4) }
.linkshell .dropzone:last-child { height:100px !important; }
