body { font-size:15px; background:url('/assets/img/wp2.jpg') top left no-repeat #eee fixed; margin-top:32px; }
a { color:#06c; }
.good { color:#693; }
.bad { color:#930; }
li, p { line-height:21px; }

#lshui-cli {
    position:fixed;
    top:0; left:0;
    width:100%;
    z-index:100;
    box-shadow:2px 2px 3px rgba(0,0,0, 0.25);
}
#lshui-cli form {
    margin:0;
}
#lshui-cli input {
    width:100%;
    -webkit-border-radius:0;
    -moz-border-radius:0;
    border-radius:0;
    border-color-top:#aaa;
    border-color-bottom:#bbb;
    padding:5px 4px 3px 165px;
    position:relative;
    left:-1px; /* hide the left edge of the input box */
    font-family:"lucida console", monospace;
    height:20px;
    margin-bottom:0;
}
#lshui-cli-prompt {
    position:absolute;
    top:7px;
    z-index:1;
    width:140px;
    text-align:right;
    color:#999;
    font-family:"lucida console", monospace;
}
#lshui-cli-prompt-end {
    position:absolute;
    top:6px;
    left:145px;
    z-index:1;
}

#lshui-env > div {
    padding:8px 13px;
    background:#fff;
    box-shadow:2px 2px 3px rgba(0,0,0, 0.25);
    margin-bottom:2px;
}

.agent-titlebar {
    font-size:14px;
    margin-bottom:2px;
    height:22px;
    color:#bbb;
}
.agent-titlebar-ctrls { float:right }
.agent-titlebar form { margin:0 }
#lshui-env .collapsed { opacity:0.5 }
#lshui-env .collapsed .agent-body { display:none }

.notification-center {
    top:40px
}
.notification {
    height:auto !important
}
