body { font-size:15px; background:url('/assets/img/wp2.jpg') top left no-repeat #eee fixed; margin-top:32px; }
a { color:#06c; }
.good { color:#693; }
.bad { color:#930; }
li, p { line-height:21px; }

#lshui-cli {
    position:fixed;
    top:0; left:0;
    width:100%;
    z-index:100;
    box-shadow:2px 2px 3px rgba(0,0,0, 0.25);
}
#lshui-cli form {
    margin:0;
}
#lshui-cli input {
    width:100%;
    -webkit-border-radius:0;
    -moz-border-radius:0;
    border-radius:0;
    border-color-top:#aaa;
    border-color-bottom:#bbb;
    padding:5px 4px 3px 165px;
    position:relative;
    left:-1px; /* hide the left edge of the input box */
    font-family:"lucida console", monospace;
    height:20px;
    margin-bottom:0;
}
#lshui-cli-prompt {
    position:absolute;
    top:7px;
    z-index:1;
    width:140px;
    text-align:right;
    color:#999;
    font-family:"lucida console", monospace;
}
#lshui-cli-prompt-end {
    position:absolute;
    top:6px;
    left:145px;
    z-index:1;
}

#lshui-leftpanel {
    float:left;
    width:150px;
}
#lshui-hist {
    padding:0 2px 2px 2px;
    overflow:hidden;
}
#lshui-hist:hover {
    overflow:visible;
}
#lshui-hist:hover > div {
    box-shadow:2px 2px 3px rgba(0,0,0, 0.25);
    width:auto;
    background:#fff;
    opacity:1;
}
#lshui-hist:hover > div p {
    color:#333;
}
#lshui-hist > div {
    margin:0 2px 2px 0;
    padding-top:3px;
    background:#fafafa;
    display:inline-block;
    position:relative;
    z-index:50;
    width:144px;
    overflow:hidden;
    opacity:0.75;
}
#lshui-hist div p {
    color:#808080;
    font-family:"lucida console", monospace;
    font-size:12px; line-height:17px;
    padding:0 3px;
    margin:0;
    white-space:pre;
}
#lshui-hist div div { width:144px }
#lshui-hist div div p.right { float:right; text-align:right; width:140px; white-space:normal }
#lshui-banner {
    padding:0 6px;
    color:white; opacity:0.5;
    position:fixed;
    bottom:0; right:0;
    text-align:right
}
#lshui-banner h1 { line-height:24px }
#lshui-banner p { margin:0; font-size:12px }

#lshui-mainpanel {
    margin:2px 2px 0 148px;
}
#lshui-env > div {
    padding:8px 13px;
    background:#fff;
    box-shadow:2px 2px 3px rgba(0,0,0, 0.25);
    margin-bottom:2px;
}

.agent-titlebar {
    font-size:12px;
    margin-bottom:2px;
    border-bottom:1px solid #eee;
    height:15px;
    color:#bbb;
}
.agent-titlebar-ctrls { float:right }
.agent-titlebar form { margin:0 }
#lshui-env .collapsed > div { opacity:0.75 }
#lshui-env .collapsed .agent-body { display:none }
