body { font-size:15px; background:#FF9900; }
a { color:#06c; }
li, p { line-height:21px; }

table#lshui-env { margin:0 auto }
table#lshui-env tr td { vertical-align:top }
table#lshui-env tr td:empty { width:10px; }
table#lshui-env tr td:empty:first-child { width:50px; }
table#lshui-env tr td:empty:last-child { width:50px; }
table#lshui-env tr td.request-hover:empty { width:50px; background:rgba(255,255,255,0.25) }

.agent {
    padding:8px 13px;
    background:#fff;
    box-shadow:0 0 6px rgba(0,0,0, 0.8);
    border:1px solid #fff;
}
.agent.request-hover {
    border:1px solid #06c;
    box-shadow:0 0 10px rgba(0,128,255, 1.0);
}
.agent-titlebar {
    font-size:14px;
    margin-bottom:2px;
    height:22px;
    color:#bbb;
}
.agent-titlebar-ctrls { float:right }
.agent-titlebar form { margin:0 }
.agent.collapsed { opacity:0.5 }
.agent.collapsed .agent-body { display:none }

.dropzone { height:10px; }
.dropzone.request-hover { height:48px; background:rgba(255,255,255,0.25) }
.dropzone:last-child { height:250px !important; }

.notification-center {
    top:40px
}
.notification {
    height:auto !important
}
