body { color: #555; font-family: 'Roboto', sans-serif; font-weight: 300; }
pre, code { font-family: Consolas, "Courier New", monospace; color: #5E5E5E; background: #f5f2f0; }
a { color: #3184D6; }
p { margin: 13px 0 17px; }
blockquote { border-left: 5px solid #ddd; }
blockquote p { font-size:14px }
h2 { font-size:30px; border-bottom:1px solid gray; font-weight:normal; margin-top:16px }
h3 { font-size:20px }

.centered { text-align: center; }
#hero {
	width: 100%;
	height: 450px;
	background: url(/assets/hero-bg.jpg) left -640px no-repeat;
}
@media (min-width: 1500px) {
	/* hero background is now too small, so lets autosize it to cover */
	#hero { background-position: top left; background-size: cover; }
}
#hero h1 { text-align: center; color: white; font-size: 54px; padding-top: 155px; margin-top: 0; }
#hero h1 span { color: #2D9AE4; }
#hero h4 { font-weight: normal; text-align: center; color: white; padding: 75px 10px 0; }
@media (min-width: 800px) {
	#hero h1 { font-size: 70px; }
	#hero h1, #hero h4 { margin-right: 50px; }
}

#nav { background: #1F6CB1; box-shadow: 5px 0px 25px rgba(0,0,0,0.5); width: 100%; text-align: center; }
#nav ul { font-size: 26px; margin: 0 auto; display: inline-block;  }
#nav ul li { margin: 0; }
#nav ul li.active { border-bottom: 3px solid white; }
#nav ul li:hover { border-bottom: 3px solid white; }
#nav ul li a { color: #FAFAFA; display: inline-block; padding: 20px 20px; }
#nav ul li a:hover { color: #FAFAFA; text-decoration: none; }
#nav #logo { display: none; color: white; font-weight: bold; position: absolute; top: 0; left: 0; font-size: 32px; padding: 20px;}
#nav #logo span { color: #2D9AE4; }
.is-sticky #nav #logo { display: block; }
@media (min-width: 640px) {
	#nav ul { padding-right: 50px; }
}
@media (max-width: 500px) {
	#nav ul li { display: block; }
}

.container.container-wide { width: 1080px; }
.container > .row { margin-bottom: 40px; }
.container h3 { font-size: 24px; line-height: 28px; }
.container p, .container ul li { font-size: 16px; }
.container ul li { color: gray; margin-bottom: 12px; padding: 0 2px; }
.container .intro { margin: 60px 20px 40px; }
.container .intro img { width: 96px; margin: 0 auto; display: block; }
.container .overview { width: 100%; margin-bottom: 40px; }
.container .overview img { display: block; margin: 0 auto; padding-right: 20px; width: 96px; }
.container .overview > div { padding: 0 20px 20px; }
@media (min-width: 640px) {
	.container > .row { margin-bottom: 150px; }
	.container .intro { margin: 200px 20px; }
	.container .intro p { padding-top: 40px; }
	.container .intro img { float: left; margin-right: 20px; width: 128px; }
	.container .overview { min-height: 210px; margin-bottom: 200px; }
	.container .overview > div { width: 33%; float: left; padding: 0; }
	.container .overview img { width: 128px; }
	.container .overview > div:nth-child(1) > div { padding: 0 20px 0 20px; }
	.container .overview > div:nth-child(2) > div { padding: 0 20px;  }
	.container .overview > div:nth-child(3) > div { padding: 0 20px 0 20px; }
}
@media (min-width: 940px) {
	.container .overview > div:nth-child(1) > div { padding: 0 40px 0 10px; }
	.container .overview > div:nth-child(2) > div { padding: 0 40px;  }
	.container .overview > div:nth-child(3) > div { padding: 0 10px 0 40px; }
}
@media (max-width: 1080px) { .container.container-wide { width: 100%; } }
@media (max-width: 940px) {
	.container { width: 100%; }
	.row { margin-left: 0; }
	.container > .row > div[class*="span"] { margin-left: 0; }
	.span12, .span6, .span5 { width: 100%; margin: 0; padding: 0; }
	.span12 > *, .span6 > *, .span5 > * { padding: 0 10px; }
}