body { color: #555; font-family: 'Roboto', sans-serif; font-weight: 300; }
pre, code { font-family: Consolas, "Courier New", monospace; color: #5E5E5E; background: #f5f2f0; }
a { color: #3184D6; }
p { margin: 13px 0 17px; }
blockquote { border-left: 5px solid #ddd; }
blockquote p { font-size:14px }
h2 { font-size:30px; border-bottom:1px solid gray; font-weight:normal; margin-top:16px }
h3 { font-size:20px }

.centered { text-align: center; }

#nav { background: #1F6CB1; box-shadow: 5px 0px 25px rgba(0,0,0,0.5); width: 100%; text-align: center; }
#nav ul { font-size: 26px; margin: 0 auto; display: inline-block;  }
#nav ul li { margin: 0; }
#nav ul li.active { border-bottom: 3px solid white; }
#nav ul li:hover { border-bottom: 3px solid white; }
#nav ul li a { color: #FAFAFA; display: inline-block; padding: 20px 20px; }
#nav ul li a:hover { color: #FAFAFA; text-decoration: none; }
#nav #logo { display: none; color: white; font-weight: bold; position: absolute; top: 0; left: 0; font-size: 32px; padding: 20px;}
#nav #logo span { color: #2D9AE4; }
.is-sticky #nav #logo { display: block; }
@media (min-width: 640px) {
	#nav ul { padding-right: 50px; }
}
@media (max-width: 500px) {
	#nav ul li { display: block; }
}

.container.container-wide { width: 1080px; }
.container > .row { margin-bottom: 40px; }
.container h3 { font-size: 24px; line-height: 28px; }
.container p, .container ul li { font-size: 16px; }
.container ul li { color: gray; margin-bottom: 12px; padding: 0 2px; }
.container .intro { margin: 60px 20px 40px; }
.container .intro img { width: 96px; margin: 0 auto; display: block; }
#footer-wrapper-helper { min-height: 100%; height: auto !important; height: 100%; margin: 0 auto -60px; }
#footer-wrapper-push, #footer { height: 60px; }
#footer { clear: both; }
#footer hr { margin-top: 0; }
#footer ul { text-align: center; }
@media (min-width: 640px) {
	.container > .row { margin-bottom: 100px; }
	.container .intro { margin: 100px 20px; }
	.container .intro p { padding-top: 40px; }
	.container .intro img { float: left; margin-right: 20px; width: 128px; }
}
@media (max-width: 1080px) { .container.container-wide { width: 100%; } }
@media (max-width: 940px) {
	.container { width: 100%; }
	.row { margin-left: 0; }
	.container > .row > div[class*="span"] { margin-left: 0; }
	.span12, .span6, .span5 { width: 100%; margin: 0; padding: 0; }
	.span12 > *, .span6 > *, .span5 > * { padding: 0 10px; }
}